x64

# Prerequisites
*.d
*.sln

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.elxe
*.out
*.app
*.ilk
*.vsidx
*.db
*.db-shm
.vs/Maho/v17/.suo
*.opendb
*.db-wal
*.ipch
*.exe
